<p id="notice"><%= notice %></p>
<div class="row">

	<div class="col-md-4">

<div style='width:250px;height:350px'>
<%= link_to image_tag(@post.image, style:'width:100%') , posts_path%>
</div>

</div>

	<div class="col-md-8">

		<div class="post-info">

        <h2 class="post-name"><%= @post.name %></h2>
			  <p class="post">  <strong>Description: </strong><%=  @post.description%></p>
  			<p class="post">  <strong>Ingredans: </strong><%=  @post.ingredans%></p>
  			<p class="post">  <strong>Price: </strong><%=  @post.price%> SAR</p>
  			<p class="post-genger">  <strong>Genger: </strong><%=  @post.genger%></p>
  <div class="links btn-group">
  <%= link_to 'Edit', edit_post_path(@post) ,class: "btn btn-custom"%> 
<%= link_to 'Back', posts_path ,class: "btn btn-custom"%>
<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-custom" %>
</div>

		</div>
	</div>
</div>


<div class="panel panel-default">
  <div class="panel-body"> 
<table class="table">
  <thead>
    <tr>
      <th>Comments</th>
    </tr>
  </thead>
 <tbody>
  <% @post.comments.each do |comment| %>
      <tr>
        <td>
    
          <%= comment.body %>
     
        </td>
      
      </tr>
    <% end %>
  </tbody>
</table>
     </div>
</div>
</div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Add comment</div>
  <div class="panel-body"> 

<%= form_for([@post,@post.comments.build]) do |f| %>
 <div class="field">
    <%= f.text_area :body,:class => 'form-control' %>
    </div>
  <div class="actions">

    <%= f.submit%>
  </div>
<% end %>
</div>
</div>  
	
