<h2>Post</h2>
<div>
Name : 
<%= @poste.name%>
</div>
<div>
Description :
<%= @poste.description%>
</div>

<div>
<%= link_to 'Back' , postes_path%>
<%= link_to 'Edit' , poste_edit_path%>
<%= link_to 'Delete' ,poste_path , method: :delete, data: {confirm: 'Are You Sure ? '}%>
<div>